body{font-family: Arial;}
a{color:Black;text-decoration:none;font:bold}
a:hover{color:#606060}
td.menu{background: lightblue}


.htmlForm td
{
	font-size: 12px;
	color: #ff3300;
	border-bottom: thin solid;
	font-family: Verdana, Arial, Sans-Serif;
}

.points
{
	padding-left: 20px;
	font-size: 11px;
	color: #cc3300;
	padding-top: 20px;
	font-family: Tahoma;
}
.points li
{
	padding-top: 5px;
	padding-left: 1mm;
	padding-right: 4mm;
}
.formHeading
{
	padding: 10px;
	font-weight: bold;
	font-size: 16pt;
	color: #cc3300;
	font-family: Arial;
}
table.nav
{
	font: bold 80% arial;
	top: 0px;
	left:-144px;
	position: relative;
	background: black;
}
.label_1
{
	border-right: black thin solid;
	border-top: black thin solid;
	border-left: black thin solid;
	border-bottom: black thin solid;
	left: 150px;
	width: 100px;
	position: absolute;
	top: 40px;
	height: 200px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 20px;
	background-color: #ff6633;
}
